* {
  /* border: 1px solid red; */ /* For debugging */
}

:root {
  --red: hsla(0, 85%, 56%, 0.95);
  --black: hsl(0, 0%, 15%);
  --white: hsl(0, 0%, 96%);
}

body {
  background-color: var(--black);
}

.status {
  color: var(--white);
  text-align: center;
  margin: 2rem 1rem;
  font-family: system-ui, sans-serif;
}

.status--error {
  color: var(--red);
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
